@import url('fonts/stylesheet.css');

@media screen and (min-width: 640px) {
    body {
        width: 640px;
        /* width: 6in; */
    }
}

@media screen and (min-width: 1000px) {
    body {
        width: 1000px;
        /* width: 6in; */
    }
}

:root {
    --xor-black: #000000;
    --xor-gray33: #555555;
    --xor-gray67: #AAAAAA;
    --xor-white: #FFFFFF;
    --xor-red: #FF0000;
    --xor-orange: #E47200;
    --xor-yellow: #E4E400;
    --xor-green: #00FF00;
    --xor-cyan: #00B4B4;
    --xor-azure: #0072E4;
    --xor-blue: #0000FF;
    --xor-violet: #7200E4;
    --xor-rose: #E40072;
    --xor-brown: #7F3F00;
    --xor-gold: #D4AB38;
    --xor-forestgreen: #3F7F3F;    
}

.xor-black { color: #000000 }
.xor-gray33 { color: #555555 }
.xor-gray67 { color: #AAAAAA }
.xor-white { color: #FFFFFF }
.xor-red { color: #FF0000 }
.xor-orange { color: #E47200 }
.xor-yellow { color: #E4E400 }
.xor-green { color: #00FF00 }
.xor-cyan { color: #00B4B4 }
.xor-azure { color: #0072E4 }
.xor-blue { color: #0000FF }
.xor-violet { color: #7200E4 }
.xor-rose { color: #E40072 }
.xor-brown { color: #7F3F00 }
.xor-gold { color: #D4AB38 }
.xor-forestgreen { color: #3F7F3F }
.xor-bg-black { background: #000000 }
.xor-bg-gray33 { background: #555555 }
.xor-bg-gray67 { background: #AAAAAA }
.xor-bg-white { background: #FFFFFF }
.xor-bg-red { background: #FF0000 }
.xor-bg-orange { background: #E47200 }
.xor-bg-yellow { background: #E4E400 }
.xor-bg-green { background: #00FF00 }
.xor-bg-cyan { background: #00B4B4 }
.xor-bg-azure { background: #0072E4 }
.xor-bg-blue { background: #0000FF }
.xor-bg-violet { background: #7200E4 }
.xor-bg-rose { background: #E40072 }
.xor-bg-brown { background: #7F3F00 }
.xor-bg-gold { background: #D4AB38 }
.xor-bg-forestgreen { background: #3F7F3F }



html {
    display: table;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    display: table-cell;
    vertical-align: top;
    font-family: linlibertine, Georgia, serif;
    line-height: 1.62em;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 1em;
    background: #f7f7f7;
    color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* line-height: 1.0em; */
    font-family: linbiolinum, Futura, 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;
    margin-bottom: 0.25em;

    color: var(--xor-black);
}

h1 {
    margin-top: 2em;
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
}

h2 {
    margin-top: 0em;
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
}

h3 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

h5 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;  
}

em {
    font-style: italic;
}

/*
 * #236192 Pantone Plus 647 C - Blue
 * #ffcd00 Pantone Plus 116 C - Gold
 * #ffffff White
*/
a {
    color: var(--xor-blue);
    /* color: #645; */

    font-weight: inherit;
    text-decoration: underline;
}

a:hover {
    color: var(--xor-gold);
}

.equation {
    font-size: 2em;
}

.keeptogether {
    white-space: nowrap;
}

.uaf {
    color: #ffcd00;
    background: var(--xor-gold);
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    display: table;
    width: 100%;
    line-height: 1.5em;
}

.blue {
    color: var(--xor-gold);
}

.bluehr {
    background: var(--xor-gold);
    height: 0.2em;
    border: none;
}

.goldhr {
    background: var(--xor-gold);
    /* background: #ffcd00; */
    height: 0.2em;
    border: none;
}

.centered {
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.centered-block {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dropcapimage {
    width: 1in;
    border-radius: 5px;
    image-rendering: pixelated;
}

.column {
    float: left;
    padding: 0em;
}

.left {
    width: 25%;
}

.right {
    width: 60%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.cell-block-clear {
    vertical-align: top;
    display: inline-block;
    border-radius: 5px;
    height: 100%;
}

.cell-block-dark {
    vertical-align: top;
    display: inline-block;
    background: var(--xor-gray33);
    border-radius: 5px;
    height: 100%;
}

.cell-block-light {
    vertical-align: top;
    display: inline-block;
    background: var(--xor-gray67);
    border-radius: 5px;
    height: 100%
}

/* input {
    background: #007f00;
    color: #922361;
    border: none;
}
*/
button {
    margin-bottom: 5px;
    width: 90%;
    background: var(xor-azure);
    color: var(xor-black);
    border: 1px solid;
    border-color: var(xor-black);
    border-radius: 5px;
    box-shadow: 3px 3px;
}

button:hover {
    background: #331122
}

button:active {
    background: #442233;
    position: relative;
    top: 3px;
    left: 3px;
}

.log {
    font-family: 'PragmataPro', epp, inconsolata, consolas, monospace;
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
    background: #111111;
    color: #3f7f3f;
}

pre {
    font-family: epp, inconsolata, consolas, monospace;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}

.center-middle {
    text-align: center;
    vertical-align: middle;
}

.middle {
    vertical-align: middle;
}

.rtitle {
    font-weight: bold;
}

.rauthor {
    color: inherit;
}

.rjournal {
    font-style: italic;
}

.rpaper {
    color: inherit;
}